[paths]
source =
   src/local_github_repo_config
   */site-packages/local_github_repo_config

[run]
branch = true
source =
    local_github_repo_config
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
